.accordion-component{
    background-color: black;
    padding-top: 100px;
}

.accordion-heading{
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.accordion-wrapper{
    max-width: 815px;
    margin: auto;
    padding: 30px 45px;
}